* {
	font-family: 'Roboto', sans-serif !important;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	outline: 0;
	border-radius: 0 !important;
}

/*Cursors*/
.cursor {
	pointer-events: none;       
} 
circle {
    fill: #f7f8fa;
}     
.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

.form-control {
    border: 1;
    border-style: dotted;
}

.navbar-nav {
	mix-blend-mode: difference!important;
}

/*.navbar-brand-img {
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    transition: background-size 275ms cubic-bezier(.5,0,.5,0);
    background-size: 100% 1px;
}*/

.navbar-nav {
	position: absolute;
	top: 50%;
	right:3%;
	font-size: 1rem;
}

.nav-item, .nav-link {
	text-decoration: none;
	color: 	#d9534f;
	font-size: 1rem;
	padding: 0px;
	margin: 0px;
	mix-blend-mode: difference!important;
	font-weight: 500;
}

.landing-logoB {
	mix-blend-mode: red !important;
	overflow: hidden;
	top:1%;
	position: absolute;
	height:13rem;
	width: 13rem;
}

.landing-logo {
	z-index: 10;
	color: white;
	filter: invert(1) !important;
	top:1%;
	position: absolute;
	height:13rem;
	width: 13rem;
}

.landing-logo:hover {
	transition: all 0.4s ease-in-out;
	opacity: 0.2;
}

.landing-video {
	position: relative;
	height: 100vh;
	width: 100%;
    object-fit: cover;
}

#myVideo {
	position: relative;
 	/*background: url(../images/landing-img2.gif);*/
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: fixed;
	height: 100vh;
	width: 100%;
}

/*Register*/
.register-container{
	position: relative;
	top: 15vh;
}

#registerUser input::placeholder {
	font-size: 0.8rem;
	color: gray;
	opacity: 0.4;
}



/*Login*/
.login-container{
	position: relative;
	top: 20vh;
}

.login-button{
	position:relative;
	width: 100%;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
    line-height: 2;
    -webkit-appearance: none;
    outline: 0;
    box-shadow: none;
    background: transparent;
    display: block;
    cursor: pointer;
    padding: 0.75em 4.6875em;
    text-align: center;
}

#logInUser input::placeholder {
	font-size: 0.8rem;
	color: gray;
	opacity: 0.4;
}

.login-text{
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: 0.2rem;
}

/*Courses*/

/*Jumbotron*/
.programs-header{
	background-image: url(../images/programs-header.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

.profile-header{
	background-image: url(../images/profile-header.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

.profile-img-desc{
	mix-blend-mode: exclusion !important;
	color: #d3d3d3;
	font-size: 0.75rem;
	text-transform: uppercase;
	position: absolute;
	bottom: 25px;
	right: 45px;
}

.jumbotron-course{
	margin: 0;
	padding: 0;
	/*background-color: black;
	z-index: -1;
	height: 100vh;*/
}

.jumb-text {
	color: white;
	font-size: 4rem;
}

.jumbotron-header{
	position: relative;
	top: 40%;
}



.course-button{
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
    line-height: 2;
    -webkit-appearance: none;
    outline: 0;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    padding: 0.75em 4.6875em;
    text-align: center;
}

.card-footer {
	background-color: white;
	border:0;
}

.card-body {
	border: 1;
    border-style: dotted;
}

.card-body > p{
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
    line-height: 2;
}

.card-body > h5{
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
    line-height: 2;
}

/*Course*/
.jumbotron-course1 {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.course-content{
	color: white;
	position: relative;
	top: 20%;
	left: 40px;
	font-size: 0.75rem;
	letter-spacing: 0.1rem;
    line-height: 2;
}

.course-header{
	background-image: url(../images/course-header.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

.jumb-course-content{
	position: relative;
	top: 30%;
	left: 40px;
	font-size: 0.75rem;
/*	text-transform: uppercase;*/
	letter-spacing: 0.1rem;
    line-height: 2;
}

#courseDesc{
	font-size: 1rem;
}

.course-status {
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
    line-height: 2;
}

/*Create Course*/
.crud-text{
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	color: #d9534f;
	display: flex;
}

/*Profile*/
.profile-container{
	position: relative;
	top: 35vh;
}



/*Footer*/
.footer{
	text-align: center;
	font-weight: 300;
	font-size: 0.8rem;
}

